I wanted to make a Dashboard for the COVID-19 epidemic. 

Python was used to clean the data and to query smaller datasets to upload into Tableau.
The data came from Our World in Data and it was a fairly clean dataset and needed only a little bit of cleaning, exploration and preparation.
You can find the Tableau Dashboard here: https://public.tableau.com/app/profile/mario.boha./vizzes

## Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Importing the dataset and data cleaning

In [2]:
df = pd.read_csv('/kaggle/input/covid-19-our-world-in-data-till-2024/owid-covid-data.csv')
df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-08,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-09,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN

In [3]:
df.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'total_tests', 'new_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'new_vaccinations', 'new_vaccinations_smoothed',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
       'new_vaccinations_smoothed_per_million',
       'new_people_vaccinated_smoothed',
       'new_people_vaccinated_smoothed_per_hundred', 'stringency_index',
       'population_density', 'median_age', 'aged_65_older', 'aged_70_older',
       'gdp_per_capita', 'extreme_poverty', 'cardiovasc_death_rate',
       'diabetes_prevalence', 'female_smokers', 'male_smokers',
       'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index', 'population',
       'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative',
       'excess_mortality', 'excess_mortality_cumulative_per_million'],
      dtype='object')

In [4]:
#There are a lot of columns that are not necesarry so we choose a few 
columns = ['continent', 'location', 'date', 
           'total_cases', 'new_cases','total_deaths', 'new_deaths', 'new_cases_smoothed', 'new_deaths_smoothed',
           'total_vaccinations', 'people_vaccinated', 'people_fully_vaccinated', 'new_vaccinations', 'new_vaccinations_smoothed',
           'population']
df = df[columns]

In [5]:
# There are many NAN values referring to the values at the begining of the pandemic. Those will be changed into 0. 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 380519 entries, 0 to 380518
Data columns (total 15 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   continent                  362259 non-null  object
 1   location                   380519 non-null  object
 2   date                       380519 non-null  object
 3   total_cases                341501 non-null  float64
 4   new_cases                  369504 non-null  float64
 5   total_deaths               319445 non-null  float64
 6   new_deaths                 369785 non-null  float64
 7   new_cases_smoothed         368274 non-null  float64
 8   new_deaths_smoothed        368555 non-null  float64
 9   total_vaccinations         82950 non-null   float64
 10  people_vaccinated          78867 non-null   float64
 11  people_fully_vaccinated    75735 non-null   float64
 12  new_vaccinations           68722 non-null   float64
 13  new_vaccinations_smoothed  189527 non-null  float64
 14  population                 380519 non-null  float64
dtypes: float64(12), object(3)
memory usage: 43.5+ MB

In [6]:
# However, the NAN values in the 'continent' colum are because there are referring to categories in the 'location' column that are 
# grouped into broader categories like: World, Europe, European Union etc.

print(df['continent'].unique())
print(df['location'].unique())

#In the future data prep for visualization we will take into account these categories

['Asia' nan 'Europe' 'Africa' 'Oceania' 'North America' 'South America']
['Afghanistan' 'Africa' 'Albania' 'Algeria' 'American Samoa' 'Andorra'
 'Angola' 'Anguilla' 'Antigua and Barbuda' 'Argentina' 'Armenia' 'Aruba'
 'Asia' 'Australia' 'Austria' 'Azerbaijan' 'Bahamas' 'Bahrain'
 'Bangladesh' 'Barbados' 'Belarus' 'Belgium' 'Belize' 'Benin' 'Bermuda'
 'Bhutan' 'Bolivia' 'Bonaire Sint Eustatius and Saba'
 'Bosnia and Herzegovina' 'Botswana' 'Brazil' 'British Virgin Islands'
 'Brunei' 'Bulgaria' 'Burkina Faso' 'Burundi' 'Cambodia' 'Cameroon'
 'Canada' 'Cape Verde' 'Cayman Islands' 'Central African Republic' 'Chad'
 'Chile' 'China' 'Colombia' 'Comoros' 'Congo' 'Cook Islands' 'Costa Rica'
 "Cote d'Ivoire" 'Croatia' 'Cuba' 'Curacao' 'Cyprus' 'Czechia'
 'Democratic Republic of Congo' 'Denmark' 'Djibouti' 'Dominica'
 'Dominican Republic' 'Ecuador' 'Egypt' 'El Salvador' 'England'
 'Equatorial Guinea' 'Eritrea' 'Estonia' 'Eswatini' 'Ethiopia' 'Europe'
 'European Union' 'Faeroe Islands' 'Falkland Islands' 'Fiji' 'Finland'
 'France' 'French Guiana' 'French Polynesia' 'Gabon' 'Gambia' 'Georgia'
 'Germany' 'Ghana' 'Gibraltar' 'Greece' 'Greenland' 'Grenada' 'Guadeloupe'
 'Guam' 'Guatemala' 'Guernsey' 'Guinea' 'Guinea-Bissau' 'Guyana' 'Haiti'
 'High income' 'Honduras' 'Hong Kong' 'Hungary' 'Iceland' 'India'
 'Indonesia' 'Iran' 'Iraq' 'Ireland' 'Isle of Man' 'Israel' 'Italy'
 'Jamaica' 'Japan' 'Jersey' 'Jordan' 'Kazakhstan' 'Kenya' 'Kiribati'
 'Kosovo' 'Kuwait' 'Kyrgyzstan' 'Laos' 'Latvia' 'Lebanon' 'Lesotho'
 'Liberia' 'Libya' 'Liechtenstein' 'Lithuania' 'Low income'
 'Lower middle income' 'Luxembourg' 'Macao' 'Madagascar' 'Malawi'
 'Malaysia' 'Maldives' 'Mali' 'Malta' 'Marshall Islands' 'Martinique'
 'Mauritania' 'Mauritius' 'Mayotte' 'Mexico' 'Micronesia (country)'
 'Moldova' 'Monaco' 'Mongolia' 'Montenegro' 'Montserrat' 'Morocco'
 'Mozambique' 'Myanmar' 'Namibia' 'Nauru' 'Nepal' 'Netherlands'
 'New Caledonia' 'New Zealand' 'Nicaragua' 'Niger' 'Nigeria' 'Niue'
 'North America' 'North Korea' 'North Macedonia' 'Northern Cyprus'
 'Northern Ireland' 'Northern Mariana Islands' 'Norway' 'Oceania' 'Oman'
 'Pakistan' 'Palau' 'Palestine' 'Panama' 'Papua New Guinea' 'Paraguay'
 'Peru' 'Philippines' 'Pitcairn' 'Poland' 'Portugal' 'Puerto Rico' 'Qatar'
 'Reunion' 'Romania' 'Russia' 'Rwanda' 'Saint Barthelemy' 'Saint Helena'
 'Saint Kitts and Nevis' 'Saint Lucia' 'Saint Martin (French part)'
 'Saint Pierre and Miquelon' 'Saint Vincent and the Grenadines' 'Samoa'
 'San Marino' 'Sao Tome and Principe' 'Saudi Arabia' 'Scotland' 'Senegal'
 'Serbia' 'Seychelles' 'Sierra Leone' 'Singapore'
 'Sint Maarten (Dutch part)' 'Slovakia' 'Slovenia' 'Solomon Islands'
 'Somalia' 'South Africa' 'South America' 'South Korea' 'South Sudan'
 'Spain' 'Sri Lanka' 'Sudan' 'Suriname' 'Sweden' 'Switzerland' 'Syria'
 'Taiwan' 'Tajikistan' 'Tanzania' 'Thailand' 'Timor' 'Togo' 'Tokelau'
 'Tonga' 'Trinidad and Tobago' 'Tunisia' 'Turkey' 'Turkmenistan'
 'Turks and Caicos Islands' 'Tuvalu' 'Uganda' 'Ukraine'
 'United Arab Emirates' 'United Kingdom' 'United States'
 'United States Virgin Islands' 'Upper middle income' 'Uruguay'
 'Uzbekistan' 'Vanuatu' 'Vatican' 'Venezuela' 'Vietnam' 'Wales'
 'Wallis and Futuna' 'Western Sahara' 'World' 'Yemen' 'Zambia' 'Zimbabwe']

In [7]:
columns_to_fill = ['total_cases', 'new_cases','total_deaths', 'new_deaths', 'new_cases_smoothed', 'new_deaths_smoothed',
           'total_vaccinations', 'people_vaccinated', 'people_fully_vaccinated', 'new_vaccinations', 'new_vaccinations_smoothed',
           'population']

df[columns_to_fill] = df[columns_to_fill].fillna(0)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 380519 entries, 0 to 380518
Data columns (total 15 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   continent                  362259 non-null  object
 1   location                   380519 non-null  object
 2   date                       380519 non-null  object
 3   total_cases                380519 non-null  float64
 4   new_cases                  380519 non-null  float64
 5   total_deaths               380519 non-null  float64
 6   new_deaths                 380519 non-null  float64
 7   new_cases_smoothed         380519 non-null  float64
 8   new_deaths_smoothed        380519 non-null  float64
 9   total_vaccinations         380519 non-null  float64
 10  people_vaccinated          380519 non-null  float64
 11  people_fully_vaccinated    380519 non-null  float64
 12  new_vaccinations           380519 non-null  float64
 13  new_vaccinations_smoothed  380519 non-null  float64
 14  population                 380519 non-null  float64
dtypes: float64(12), object(3)
memory usage: 43.5+ MB

## Preparing the datasets for Tableau

In [9]:
world = df[df['location'] == 'World']
data1= {'total_world_cases' : world['new_cases'].sum(),
     'total_world_deaths' : world['new_deaths'].sum(),
     'total_world_death_perc' : (world['new_deaths'].sum())/(world['new_cases'].sum())*100}

df1 = pd.DataFrame(data1, index=[1])
df1

   total_world_cases  total_world_deaths  total_world_death_perc
1        774767539.0           7037370.0                 0.90832

In [10]:
continents = df.dropna()
continets_total_cases = continents.groupby('continent')['new_cases'].sum()
continets_total_deaths = continents.groupby('continent')['new_deaths'].sum()
remainder= continets_total_cases - continets_total_deaths
data2 = {'continets_total_cases' : continets_total_cases,
        'continets_total_deaths' : continets_total_deaths,
        'remainder' : remainder,
        'lethality': (continets_total_deaths/continets_total_cases)*100}
df2 = pd.DataFrame(data2, index=None)
df2

,continets_total_cases,continets_total_deaths,remainder,lethality
continent,,,,
Africa,13140355.0,259089.0,12881266.0,1.971705
Asia,301411932.0,1636732.0,299775200.0,0.543022
Europe,252250030.0,2098464.0,250151566.0,0.831898
North America,124524988.0,1654898.0,122870090.0,1.328969
Oceania,14766548.0,32087.0,14734461.0,0.217295
South America,68672936.0,1356087.0,67316849.0,1.974704

In [11]:
states_total_cases = continents.groupby('location')['new_cases'].sum()
population = continents.groupby('location')['population'].max()
population_infected = (states_total_cases/population)*100
states_total_deaths = continents.groupby('location')['new_deaths'].sum()
data3 = {'population' : population,
        'total cases' : states_total_cases,
        'infected population' : population_infected,
        'total deaths' : states_total_deaths,
         'lethality' : (states_total_deaths/states_total_cases)*100
        }
df3 = pd.DataFrame(data3)
df3.head()

,population,total cases,infected population,total deaths,lethality
location,,,,,
Afghanistan,41128772.0,231990.0,0.564058,7982.0,3.440666
Albania,2842318.0,334863.0,11.781335,3605.0,1.076560
Algeria,44903228.0,272010.0,0.605769,6881.0,2.529686
American Samoa,44295.0,8359.0,18.871204,34.0,0.406747
Andorra,79843.0,48015.0,60.136768,159.0,0.331147

In [12]:
total_cases = continents.groupby(['location', 'date'])['total_cases'].max()
new_cases_smoothed = continents.groupby(['location', 'date'])['new_cases_smoothed'].max()
total_deaths = continents.groupby(['location', 'date'])['total_deaths'].max()
new_deaths_smoothed = continents.groupby(['location', 'date'])['new_deaths_smoothed'].max()

data4 = {'total cases' : total_cases,
         'new_cases_smoothed' : new_cases_smoothed,
         'total_deaths': total_deaths,
         'new_deaths_smoothed' : new_deaths_smoothed,
         }
df4 = pd.DataFrame(data4)
df4.reset_index(drop=False, inplace=True)
df4.head(500)

,location,date,total cases,new_cases_smoothed,total_deaths,new_deaths_smoothed
0,Afghanistan,2020-01-05,0.0,0.000,0.0,0.0
1,Afghanistan,2020-01-06,0.0,0.000,0.0,0.0
2,Afghanistan,2020-01-07,0.0,0.000,0.0,0.0
3,Afghanistan,2020-01-08,0.0,0.000,0.0,0.0
4,Afghanistan,2020-01-09,0.0,0.000,0.0,0.0
...,...,...,...,...,...,...
495,Afghanistan,2021-05-14,61842.0,245.714,2686.0,7.0
496,Afghanistan,2021-05-15,61842.0,245.714,2686.0,7.0
497,Afghanistan,2021-05-16,63484.0,234.571,2742.0,8.0
498,Afghanistan,2021-05-17,63484.0,234.571,2742.0,8.0
499,Afghanistan,2021-05-18,63484.0,234.571,2742.0,8.0

These four tables were later used to make a Dashboard in Tableau